* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #000;
}

body {
  background: #DEDEDE;
  position: relative;
}

button.save {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translate(-30%, 20px);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  border: 1px solid #D1D1D1;
  background: #F3F3F3;
  width: 240px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px auto 0;
  cursor: pointer;
}

.content {
  width: 1152px;
  margin: 0 auto;
}
.content span[contenteditable=true] {
  color: #F00;
}
.content span[contenteditable=true]:focus {
  outline: 1px solid #F00;
  outline-offset: 3px;
}
.content .page {
  margin-bottom: 20px;
  height: 1630px;
  page-break-before: always;
}
.content .page_1 {
  page-break-inside: avoid;
}
.content .page_2 {
  page-break-inside: avoid;
  position: relative;
  padding: 161px 50px 219px;
}
.content .page_2 .page_content {
  position: relative;
  z-index: 10;
}
.content .page_2 .page_content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 666px;
}
.content .page_2 .page_content .block_1 p:last-child {
  font-weight: 700;
}
.content .page_2 .page_content .block_2 {
  margin-top: 51px;
}
.content .page_2 .page_content .block_2 p:nth-child(1) {
  font-weight: 700;
}
.content .page_2 .page_content .block_3 {
  margin-top: 50px;
}
.content .page_2 .page_content .block_3 h2 {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content .page_2 .page_content .block_4 {
  margin-top: 100px;
}
.content .page_2 .page_content .block_4 p {
  width: 100%;
}
.content .page_2 .page_content .block_4 p:nth-child(2) {
  margin-bottom: 30px;
}
.content .page_2 .page_content .block_4 span:not(:first-child) {
  font-weight: 700;
}
.content .page_2 .page_content .block_5 {
  margin-top: 100px;
}
.content .page_2 .page_content .block_5 p {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content .page_2 .page_content .block_5 p:nth-child(2) {
  margin-top: 10px;
}
.content .page_2 .page_content .block_6 {
  border: 1px solid #D1D1D1;
  background: transparent;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.content .page_2 .page_content .block_6:hover .remove {
  opacity: 1 !important;
}
.content .page_2 .page_content .block_6 button {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  border: 1px solid #D1D1D1;
  background: #F3F3F3;
  width: 240px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px auto 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.content .page_2 .page_content .block_6 button.remove {
  display: none;
}
.content .page_2 .page_content .block_6 img {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.content .page_2 .page_content .block_7 {
  margin-top: 96px;
  margin-left: 123px;
}
.content .page_2 .page_content .block_7 p span {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.content .page_2 .background img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .page_3 {
  page-break-inside: avoid;
  position: relative;
  padding: 161px 50px 219px;
}
.content .page_3 .page_content {
  position: relative;
  z-index: 10;
}
.content .page_3 .page_content .block_1 p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content .page_3 .page_content .block_1 p:first-child {
  margin-bottom: 50px;
}
.content .page_3 .page_content .block_2 {
  margin-top: 490px;
}
.content .page_3 .page_content .block_2 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content .page_3 .page_content .block_2 p:first-child {
  margin-bottom: 27px;
}
.content .page_3 .page_content .block_3 {
  margin-top: 34px;
}
.content .page_3 .page_content .block_3 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.content .page_3 .page_content .block_3 p:last-child {
  margin-bottom: 0;
}
.content .page_3 .page_content .block_4 {
  margin-top: 207px;
  margin-left: 123px;
}
.content .page_3 .page_content .block_4 p span {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.content .page_3 .background img {
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
